:root {
    --fontFamily: "Lato", sans-serif;
    --backgroundColor: white;
    --backGroundGreyColor: lightgrey;
    --btnColor: #285BC4;
    --borderBtnColor: #285BC4;
    --textColor: #000000;
    --textBtnColor: white;
    --textBlueColor: #285BC4;
    --textRedColor: red;
    --btnExcelColor: #02723b;
    --redBtnColor: red;
    --greyBtnColor: #A0A0A0;
    --activeColor: #285BC4;
    --inactiveColor: #91ABED;
    --boxShadow: 0 0 5px rgba(0, 0, 0, 0.3);
    --textNorFont: 24px;
    --borderRad: 30px;
    --btnRad: 15px;
    --topBarColor: #91ABED;
    --faIcon: 30px;
    --lineColor: black;
    --formInputColor: #EDEDED;
    --formBorderColor: #8C8C8C;
    --hoverColor: #f5f5f5;
}

body {
    font-family: "Inter", sans-serif;
}

.wrap-page{
    max-width: 1600px;
    display: flex;
    bottom: 0;
    height: 100%;
}

.content-page {
    flex: 1;
    margin: 10px;
    border-radius: var(--borderRad);
    border-color: var(--borderBtnColor);
    box-shadow: var(--boxShadow);
    height: -webkit-fill-available;
    max-height: max-content;
    padding: 10px;
}

.fa-icon {
    font-size: var(--faIcon);
}

body .even-table {
    width: 100%; /* Đặt chiều rộng của bảng là 100% để nó căn đều theo chiều rộng của container cha */
    table-layout: fixed; /* Sử dụng fixed table layout để giữ cho các cột có chiều rộng bằng nhau */
}

body .even-table td {
    width: 33.33%; /* Đặt chiều rộng của các ô cột là 1/3 (33.33%) để chúng tự đàn đều */
    text-align: center; /* Căn giữa nội dung trong các ô cột */
    padding: 10px; /* Khoảng cách giữa nội dung và viền của các ô cột */
}

.horizontal-line {
    width: 100%; /* Chiều rộng của thanh gạch ngang sẽ bằng 100% chiều rộng của màn hình */
    height: 1px; /* Độ dày của thanh gạch ngang */
    background-color: var(--lineColor); /* Màu sắc của thanh gạch ngang */
}

.vertical-line {
    width: 1px; /* Độ dày của đường thẳng */
    /*height: 200px; !* Chiều cao của đường thẳng (có thể điều chỉnh theo ý muốn) *!*/
    background-color: var(--lineColor); /* Màu sắc của đường thẳng */
}

body a {
    color: inherit;
    text-decoration: unset;
}

body a:hover {
    color: inherit;
    text-decoration: unset;
}

@media (max-width: 700px) {
    .wrap-top-bar {
        display: block;
    }

    .sidebar {
        display: none;
    }
}

@media (min-width: 1600px) {
    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }

    .wrap-page{
        width: 1600px;
        /*background-color: #285BC4;*/
    }

    .sidebar{
        height: fit-content;
    }
}