.nav-bar {
    height: fit-content;
    width: 100%;
    margin: 5px 0 10px 0;
    display: inline-block;
}

.page-name {
    width: fit-content;
    border-radius: 20px 20px 20px 0;
    float: left;
    padding: 5px 10px;
    border: 2px solid var(--topBarColor);
    margin-bottom: 5px;
}

.button-area {
    margin-bottom: 5px;
}

.page-name h2 {
    margin-bottom: 0;
}

.rev-btn {
    color: var(--btnColor);
    background-color: var(--textBtnColor);
    border-radius: var(--btnRad);
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    border: 2px solid var(--borderBtnColor);
}

.nor-btn {
    background-color: var(--btnColor);
    color: var(--textBtnColor);
    border-radius: var(--btnRad);
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    border: 2px solid var(--borderBtnColor);
}

.search-bar-container {
    width: 100%;
    position: relative;
    display: flex;
}

.search-bar {
    flex: 1;
    width: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--btnColor);
    border-radius: 10px 0 0 10px;
    outline: none;
    margin: 0;
}

.search-btn {
    background-color: var(--btnColor);
    border: 1px solid var(--btnColor);
    color: var(--textBtnColor);
    border-radius: 0 10px 10px 0;
    height: fit-content;
    padding: 10px;
    width: fit-content;
    margin: 0;
}

.search-results-container {
    position: absolute;
    width: fit-content;
    min-width: 300px;
    background-color: var(--backgroundColor);
    z-index: 2;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

.search-result {
    padding: 0 20px;
    width: 100%;
}

.search-result:hover {
    background-color: var(--hoverColor);
    border-radius: 10px;
    cursor: pointer;
}

.search-result-note {
    color: grey;
    margin-left: 20px;
    float: right;
}

.filter-container {
    margin: 10px;
    height: fit-content;
    /*display: flex;*/
}

.filter-item {
    display: inline;
    background-color: var(--btnColor);
    color: var(--textBtnColor);
    border-radius: var(--btnRad);
    height: fit-content;
    width: fit-content;
    padding: 2px 10px;
    margin: 0 5px;
    border: 2px solid var(--borderBtnColor);
    float: left;
}

.filter-item i:hover {
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s linear;
}

.option-btn {
    text-align: center;
}

.table-display {
    height: fit-content;
    max-height: 65%;
    overflow-y: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-content {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: var(--borderRad);
    min-width: 50%;
    width: fit-content;
    min-height: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.popup-delete-content {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: var(--borderRad);
    width: 30%;
    /*width: fit-content;*/
    min-height: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}


.filter-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 265px;
    /*width: fit-content;*/
    height: 100%;
    background-color: var(--backGroundGreyColor);
    overflow-x: hidden;
    padding: 5px;
    z-index: 1;
    box-shadow: var(--boxShadow);
}

.filter-popup-content {
    padding: 15px;
    background-color: var(--backgroundColor);
    height: 100%;
    border-radius: 5px;
}

.filter-nav {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
}

.filter-close-btn {
    font-size: 15px;
    margin: 10px;
    transition: all 0.1s linear;
}

.filter-close-btn:hover {
    cursor: pointer;
    font-size: 25px;
    margin: 5px;
    transition: all 0.1s linear;
}

.filter-input{
    border: 1px solid var(--formBorderColor);
    border-radius: var(--btnRad);
    margin-bottom: 5px;
    height: 30px;
    background-color: var(--formInputColor);
    padding: 0 10px;
}

.input-section {
    width: 100%;
    margin: 5px 0;
}

.form-label {
    text-align: right;
}

.form-label label {
    margin-bottom: 5px;
    height: 30px;
}

.form-input {
    text-align: left;
}

.form-input input {
    width: 70%;
    border: 1px solid var(--formBorderColor);
    /*box-shadow: var(--boxShadow);*/
    border-radius: var(--btnRad);
    margin-bottom: 5px;
    height: 30px;
    background-color: var(--formInputColor);
    padding: 0 10px;
}

.form-input select {
    width: 70%;
    /*border: 1px solid var(--formBorderColor);*/
    border-radius: var(--btnRad);
    margin-bottom: 5px;
    height: 30px;
    background-color: var(--formInputColor);
    padding: 0 10px;
    cursor: pointer;
}

.form-input select option {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    padding: 0 5px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.currency {
    color: grey;
    position: absolute;
    transform: translateX(-125%) translateY(17%);
}

.form-input input:focus {
    outline: none;
}

.readonly-input {
    color: grey;
}

.readonly-input:hover {
    cursor: default;
}

.popup-btn-area {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
}

.popup-btn {
    color: var(--textBtnColor);
    border-radius: var(--btnRad);
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    margin: 0 5px;
}

.dropdownBtn {
    display: none;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid var(--borderBtnColor);
    background-color: var(--backgroundColor);
    padding: 0 5px;
}

.dropdownBtn button {
    border: none;
    width: 100%;
    background-color: inherit;
}

.dropdownBtn button:hover {
    border: none;
    background-color: var(--btnColor);
    color: var(--backgroundColor);
}


.red-btn {
    background-color: var(--redBtnColor);
    border: 2px solid var(--redBtnColor);
}

.blue-btn {
    background-color: var(--btnColor);
    border: 2px solid var(--btnColor);
}

.grey-btn {
    background-color: var(--greyBtnColor);
    border: 2px solid var(--greyBtnColor);
}

.errorText {
    color: red;
    font-size: 12px;
    padding-left: 15px;
    display: none;
}

.pagination-btn {
    color: var(--greyBtnColor);
    cursor: pointer;
}

.pagination-btn:hover {
    cursor: pointer;
    border: 1px solid #91ABED;
    border-radius: 6px;
}

.paging_wrap {
    /*margin-top: -360px;*/
    padding: 10px;
    color: black;
}

.paging_wrap div {
    padding: 5px 10px;
    margin: 0 2px;
    font-size: 16px;
    font-weight: 600;
}

.paging_wrap .hv:hover {
    cursor: pointer;
    border: 1px solid #91ABED;
    border-radius: 6px;
}

.paging_wrap {
    display: flex;
    justify-content: center;

}

.pagingActive {
    background-color: #285BC4;
    color: white;
    border-radius: 6px;
    cursor: default;
}

table {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative
}

table * {
    position: relative;
}

table td, table th {
    padding-left: 8px
}

table thead tr {
    height: 60px;
    background: var(--inactiveColor);
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td, table th {
    text-align: left
}

.tb-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-size: 15px;
    color: grey;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: var(--hoverColor);
    cursor: pointer
}

@media screen and (max-width: 992px) {
    table {
        display: block
    }

    table > *, table tr, table td, table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    .column4, .column5, .column6 {
        text-align: left
    }

    .column4, .column5, .column6, .column1, .column2, .column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}
