.home-content{
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
    height: 100%;
}

.home-overlay{
    width: 80%;
    min-height: 80%;
    height: fit-content;
    background-color: rgb(255, 255, 255, 0.9);
    z-index: 999;
    border-radius: var(--borderRad);
    padding: 10vh;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.hc-row{
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.home-btn{
    border: none;
    background-color: var(--btnColor);
    color: var(--textBtnColor);
    border-radius: var(--borderRad);
    height: fit-content;
    width: 200px;
    padding: 10px;
}

.home-btn:focus{
    outline: none;
}