.sidebar {
    width: 250px;
    background-color: var(--inactiveColor);
    margin: 10px 0 10px 10px;
    float: left;
    border-radius: 20px 20px 20px 0;
    box-shadow: var(--boxShadow);
    height: fit-content;
}

.sb-content{
    margin: 0;
    height: fit-content;
    padding: 10px 10px;
    color: var(--textBtnColor);
}

.sb-content.active{
    background-color: var(--activeColor);
}

.sb-content:hover{
    background-color: var(--activeColor);
}

.last-sb{
    height: 50px;
    border-radius: var(--borderRad);
}

/*.sidebar a {*/
/*    color: var(--textBtnColor);*/
/*    text-decoration: none;*/
/*}*/

/*.sidebar a:hover {*/
/*    color: var(--textBtnColor);*/
/*    text-decoration: none;*/
/*}*/

.user-info{
    min-height: 100px;
    height: fit-content;
    align-items: center;
    padding: 10px;
    display: flex;
}

.sb-username{
    color: var(--textBtnColor);
    text-align: center;
    word-wrap: break-word;
}

.sb-btn{
    border: none;
    background-color: var(--backgroundColor);
    color: var(--btnColor);
    border-radius: var(--borderRad);
}

.sb-btn:focus{
    outline: none;
}

.AvatarDefault{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

/*.top-bar{*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    padding: 10px;*/
/*    background-color: var(--topBarColor);*/
/*}*/

.menu-drop-list{
    position: fixed;
    top: 50px;
    width: 100%;
    height: fit-content;
    background-color: var(--inactiveColor);
}

